extends ../../pug/base

include ../../components/HeaderPage
include ../../components/IntroPage
include ../../components/ServiceItem
include ../../components/SectionContacts
include ../../components/FooterPage

block favicon
	include ../../pug/favicon

block app
	base-page.page-index
		template
			full-page(
			id="fullpage"
			ref="fullpage"
			:options="fullpageOptions"
			)
				.section(data-anchor="start")
					+header-page.theme-light

					block intro-page
						+intro-page

				.section(data-anchor="ex-pi")
					service-box
						+service-item({
							title: 'Making transactions secure & confidential again',
							description: 'Virtual currency processing platform',
							content: `<p>Our crypto payment platform EX Pi is a licensed international service that
						allow its clients to buy and sell cryptocurrencies, and make financial transactions using our stablecoins, secured from
						the volatility of cryptocurrencies. The exchange and all transactions are carried out using our own software platform,
						built on the basis of classical banking technologies.</p>`,
							imgSrc: `upload/ex-pi.jpg`,
							url: `www.expi.trade`,
							logoIcon: `icon-ex-pi`,
							mapLabel: `Estonia`,
							mapSrc: `img/europe-estonia.svg`
						}).ex-pi

				.section(data-anchor="crypto-pi")
					service-box
						+service-item({
							title: `Disrupting the private
							investments market`,
							description: `Blockchain powered investment  platform`,
							content: `<p>Crypto Pi is a digital investment platform that enables its clients to invest
						in a new class of advanced asset management instruments – investment tokens. Using blockchain technology Crypto Pi opens
						access to high class capital management services that were previously available only for limited category of investors.
						Professional asset management is now for everyone</p>`,
							imgSrc: `upload/crypto-pi.jpg`,
							url: `www.cryptopi.fund`,
							logoIcon: `icon-crypto-pi`,
							mapLabel: `Singapore`,
							mapSrc: `img/singapore.svg`
						}).crypto-pi.even

				.section(data-anchor="capital-pi")
					service-box
						+service-item({
							title: `Securing capitals in comfort
							and confidence`,
							description: `Alternative investment fund`,
							content: `<p>Capital Pi is an alternative investment fund, approved in Amsterdam,
						Netherlands. The investment activity of the fund is ideal for clients and partners with a high level of equity, who are
						looking for a secure fund registered in one of the most investor friendly jurisdiction of EU, and seek not only
						to protect investment capital, but also to generate an above average return.</p>`,
							imgSrc: `upload/capital-pi.jpg`,
							url: `www.capitalpi.fund`,
							logoIcon: `icon-capital-pi`,
							mapLabel: `Netherlands`,
							mapSrc: `img/europe-netherlands.svg`
						}).capital-pi

				.section(data-anchor="contacts")
					+section-contacts()

				.section(data-anchor="end")
					+footer-page()
