mixin header-page(data)
	header-page(inline-template)&attributes(attributes)
		header.header-page
			base-container
				a.logo(
				href="/"
				title="Pi Capital Union"
				)
					icon-pi-capital-union.logo-img

