mixin intro-page({variant} = {})
	intro-page(inline-template)&attributes(attributes)
		section.intro-page
			.bg-1(
			class={'variant-2': variant === 2}
			v-scroll="handleScroll"
			)

			if variant !== 2
				.bg-2(v-scroll="handleScroll")

			.bg-3(v-scroll="handleScroll")

			base-container
				base-content.theme-invert
					h1.title Reinventing financial freedom

					p.
						Pi Capital Union is an alliance of independent companies that work together in order to create
						an advanced Fintech ecosystem that caters for the needs of modern investors and traders beyond
						what traditional financial institutions have to offer. For our clients from all over the world
						we provide a range of services that allow investors to move their capital around the globe in
						a smooth, reliable, secure, and highly confidential manner. Pi Capital Union’s goal is
						to enable access to the best investing opportunities and true financial freedom for everyone.

				.actions
					button-outline.theme-invert(
					tag="a"
					:href="location.pathname + '#contacts'"
					@click="$store.commit('toggleFeedbackFormShow', true)"
					) Contact us

			.sliding-line
				.sliding-line-inner(v-scroll="handleScroll")

