include FeedbackForm

mixin section-contacts
	section-contacts(inline-template)&attributes(attributes)
		section.section-contacts
			.body(id="contacts")
				img.logo-pi(
				src="img/pi.svg"
				alt="Pi"
				)

				base-content
					p.
						Our joint technical expertise and strong financial and legal background also enables us to
						provide you with detailed consultancy and advisory services on your individual projects whatever
						the size or complexity.

					p.
						For further information please click on the links above to the
						individual company websites or, alternatively, should you have a specific enquiry please contact
						us.

				transition(name="fade")
					.actions(v-if="!feedbackShow")
						button-primary(
						tag="a"
						href="#feedback"
						@click.prevent="clickOnButton"
						) Contact us

				transition(name="fade")
					.feedback(v-if="feedbackShow")
						+feedback-form()(
						@close="feedbackShow = !feedbackShow"
						)

			base-container
				.info
					p.
						We very much look forward to&nbsp;welcoming you soon
						to&nbsp;joining our&nbsp;community of&nbsp;satisfied clients.
